#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define def 0
#define right 1
#define left 2
#define extra 3
#define nav 4
#define sys 5

&lt {
    flavor = "balanced";
    tapping-term-ms = <1024>;
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <1024>;
};

&sk {
    quick-release;
};

&sl {
    quick-release;
};

/ {

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <right left>;
            then-layer = <extra>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        def {
            bindings = <
                                        &kp L       &kp H           &kp S
                                                                                        &kp I          &kp U        &kp O
                       &sk LSHFT     &mt LALT R   &mt LCTRL N    &mt LGUI T
                                                                                   &mt RGUI D     &mt RCTRL E      &mt RALT A    &sk RSHFT
                                                &sl right   &lt nav SPACE
                                                                                      &lt sys SPACE     &sl left

            &trans &trans &trans &trans &trans &trans &trans &trans &trans
            &trans &trans &trans &trans &trans &trans &trans &trans &trans
                >;
        };

        right {
            bindings = <
                                        &kp GRAVE    &kp SLASH      &kp Z
                                                                                   &kp P    &kp K    &kp Y
                        &trans     &mt LALT SQT  &mt LCTRL COMMA   &mt LGUI DOT
                                                                            &mt RGUI G   &mt RCTRL X   &mt RALT J    &trans
                                                    &trans      &trans
                                                                                 &kp RET    &trans

            &trans &trans &trans &trans &trans &trans &trans &trans &trans
            &trans &trans &trans &trans &trans &trans &trans &trans &trans
                >;
        };

        left {
            bindings = <
                                        &kp F      &kp V     &kp W
                                                                                   &kp Q     &kp N0    &kp SEMI
                        &trans    &mt LALT C    &mt LCTRL B   &mt LGUI M
                                                                            &mt RGUI N1   &mt RCTRL N2   &mt RALT N3    &trans
                                                    &trans      &kp ESC
                                                                                &trans     &trans

            &trans &trans &trans &trans &trans &trans &trans &trans &trans
            &trans &trans &trans &trans &trans &trans &trans &trans &trans
                >;
        };

        extra {
            bindings = <
                                    &trans     &kp LBKT     &kp RBKT
                                                                                  &kp N7    &kp N8   &kp N9
                       &trans   &mt LALT BSLH   &mt LCTRL MINUS   &mt LGUI EQUAL
                                                                            &mt RGUI N4  &mt RCTRL N5  &mt RALT N6   &trans
                                                    &trans      &trans
                                                                                &trans      &trans

            &trans &trans &trans &trans &trans &trans &trans &trans &trans
            &trans &trans &trans &trans &trans &trans &trans &trans &trans
                >;
        };

        nav {
            bindings = <
                               &bt BT_SEL 0   &bt BT_NXT     &bt BT_CLR
                                                                                &kp PG_UP      &kp UP       &kp PG_DN
                        &trans    &kp LALT      &kp LCTRL      &kp LGUI
                                                                             &kp LEFT       &kp DOWN       &kp RIGHT      &trans
                                                &trans      &trans
                                                                                &kp DEL      &kp BSPC

            &trans &trans &trans &trans &trans &trans &trans &trans &trans
            &trans &trans &trans &trans &trans &trans &trans &trans &trans
                >;
        };

        sys {
            bindings = <
                                   &kp C_VOL_UP    &kp HOME    &kp C_MUTE
                                                                              &trans     &trans     &trans
                        &trans     &kp C_VOL_DN     &kp END     &kp INS
                                                                            &kp RGUI     &kp RCTRL   &kp RALT    &trans
                                            &kp TAB      &kp K_APP
                                                                                &trans   &trans

            &trans &trans &trans &trans &trans &trans &trans &trans &trans
            &trans &trans &trans &trans &trans &trans &trans &trans &trans
                >;
        };

    };

};
